.conteiner {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

header {

    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-left: 32px;
    padding-bottom: 32px;
    /* border: solid red; */
}

ul {
    display: flex;
    gap: 24px;

}

/* header done--------------------------------------------------------------*/
.section1 {

    padding-left: 20%;
    padding-top: 15%;
    row-gap: 24px;
}

.H1DIV {

    width: 490px;
    height: 120px;

}

h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 60px;
}

.p1DIV {
    margin-top: 24px;

    width: 410px;
    height: 56px;
}

.IMGdiv {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 44px;
}

.lastP {

    width: 236px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.fasf {



    margin-left: 500px;
    margin-top: -325px;
    align-items: center;


    width: 490px;
    height: 428px;
}

a:hover {

    scale: 1.2;
}

/* ...................seaction.......done........................................... */
.article1 {
    margin-inline: auto;
    margin-top: 64px;
    background: #F3F3F3;
    width: 1440px;
    height: 256px
}

.box {
    margin-inline: auto;
    display: flex;
    gap: 30px;
    margin-inline: auto;
    width: 1200px;
    height: 100%;

    padding-top: 64px;
}

.htag {
    align-items: center;
    display: flex;
    width: 294px;
    height: 28px;
}

.cards {
    gap: 16px;
    padding-bottom: 64px;
    width: 360px;
    height: 128px;
    align-items: center;
    display: flex;

}


.divp {


    position: absolute;
    width: 360px;
    height: 72px;
    margin-top: 124px;

}

/* .....................artilce done................................................. */
.section2 {
    display: flex;
    justify-content: flex-start;
    padding: 96px 150px;
    margin-inline: auto;
    width: 1440px;
    height: 620px;
    background: #000000;
}

.h2tag {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;


    color: #F3F3F3;
}

.div1 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
    width: 503.5px;
    height: 64px;
    margin-top: 32px;
    margin-left: 133px;
}

.p1 {
    margin-top: 51px;
    color: #F3F3F3;
}

.t_text {
margin-top: 16px;
    color: #F3F3F3;
   
}
/* ..............................section2 done....................................... */